# Java/Spring
backend/target/
backend/.mvn/
backend/*.jar
backend/*.war
!**/src/main/**/target/
!**/src/test/**/target/
backend/settings.xml
backend/.vscode

# Node/React
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/
!**/src/main/**/build/
!**/src/test/**/build/

# Db
backend/*.db
*.db

### VS Code ###
.vscode/
